.title {
    font-size: 36px;
    font-weight: bolder;
}


.user_data_key {
    font-size: 18px;
    font-weight: bold;
    color: #516EB4;
}

.user_data_value {
    font-size: 18px;
}

.ihc_circle {
    border-radius: 18px;
    border: 3px solid #516EB4;
    position: relative;
}

.ihc_circle::before,
.ihc_circle::after {
    content: '';
    position: absolute;
    bottom: 80%;
    left: 44px;
    border: 6px solid transparent;
    border-top-color: #516EB4;
}

.ihc_main_text {
    font-size: 18px;
    font-weight: bold;
}

.ihc_subtext {
    font-size: 14px;
}
